#pageTitle {
    font-family: "Rock Salt", serif;
    font-weight: 400;
    font-style: normal;
}

body {
    font-family: "Work Sans", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

#headerLogo,
.footerLinks {
    text-decoration: none;
}

#footerSection {
    background-color: #000000;
}

hr {
    margin: 0px;
    color: #f0fdff;
}

#containerBody {
    background-color: #f0fdff;
}

#cardBody {
    max-width: 660px;
    margin: auto;
    background-color: #f0fdff;
}